@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.eot");
  src: local("☺"), url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.eot");
  src: local("☺"), url("./fonts/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nekst-Black";
  src: url("./fonts/Nekst-Black.eot");
  src: local("☺"), url("./fonts/Nekst-Black.woff") format("woff"),
    url("./fonts/Nekst-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --bgc: #fff;
  --grey: #575757;
  --orange: #ff9514;
  --orange-opacity-2: rgba(255, 149, 20, 0.2);
  --input-bgc: #f3f3f4;
  --black: #111;
  --hover-nav: #f3f3f4;
  --dark-grey: #333333;
  --light-grey: #e1e1e1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  padding: 213px 48px;
  width: 1440px;
  background: var(--bgc);
  max-width: 100vw;
  overflow: hidden;
  h1 {
    font-family: Nekst-Black, sans-serif;
    font-weight: 900;
    font-size: 54px;
    height: 98px;
    line-height: 48.6px;
    width: 753px;
    color: var(--black);
  }
  form {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 51px;
    margin-bottom: 44px;
  }
  .resultsContainer {
    display: flex;
    justify-content: space-between;
    .results {
      display: flex;
      justify-content: space-between;
    }
    .button {
      width: 426px;
      height: 68px;
      button {
        border: none;
        border-radius: 40px;
        outline: none;
        color: #fff;
        background-color: var(--orange);
        font-family: "Nekst-Black", sans-serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        padding: 14px 92.5px;
        cursor: pointer;
        width: 426px;
        height: 68px;
        &:hover {
          color: var(--bgc);
          background-color: var(--black);
        }
        &:active {
          color: var(--bgc);
          background-color: var(--grey);
        }
      }
    }
  }
}

@media (max-width: 1439px) {
  .app {
    max-width: 100%;
    form {
      margin-top: 32px;
      gap: 32px;
    }
    .resultsContainer {
      width: 672px;
      .button {
        height: 68px;
        width: 320px;
        button {
          padding: 8px 16px 12px;
          width: 320px;
          height: 68px;
          font-size: 30px;
          font-weight: 900;
          line-height: 36px;
          text-align: left;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 1119px) {
  .app {
    padding: 64px 36px;
    h1 {
      padding: 0;
      width: 753px;
      height: 98px;
      font-size: 54px;
      font-weight: 900;
      line-height: 49px;
    }
    form {
      flex-direction: column;
      margin-bottom: 32px;
    }
    .resultsContainer {
      flex-direction: column;
      gap: 44px;
      .button {
        width: 345px;
        button {
          font-size: 30px;
          width: 345px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .app {
    padding: 44px 21px;
    h1 {
      font-size: 34px;
      line-height: 30.6px;
      height: 124px;
      width: 279px;
    }
    form {
      gap: 16px;
      margin-top: 32px;
      margin-bottom: 16px;
    }
    .resultsContainer {
      gap: 32px;
      .results {
        gap: 29px;
        flex-direction: column;
        max-width: 280px;
      }
      .button {
        height: 60px;
        width: 280px;
        button {
          padding: 18px 52px;
          font-size: 22px;
          line-height: 20px;
          white-space: nowrap;
          height: 60px;
          width: 280px;
        }
      }
    }
  }
}
